/******************************
 * Author Ronneil Nesbitt
 * Created 07/18/13
 
 ****************************/

/*******************
 * Global
 *******************/

body {
	background:#f8f8f8;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
}

.clear {
	clear: both;
	height: 0px;
	width: 0px;
}

.logo{
	display:inline-block;
	*display:inline;
	zoom:1;
}

.right{
	float:right;
}

.right-pos{
	position:absolute;
	right:0;
}

table{
	width:100%;
}
.label {
	font-weight:bold;
}
.upcs {
	text-transform:uppercase;
}
.v-align-m {
	vertical-align: middle;
}
.v-align-t {
	vertical-align: top;
}
.text-a-c {
	text-align: center;
}
.none {
	display:none;
	visibility: hidden;
}
.dropdownSelect{
    width: 165px;
    height: 15px;
    overflow: hidden;
    background: url(../img/arrowDown.png) no-repeat right transparent;
    border: 0px solid #ccc;
    margin: 0;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.dropdownSelect select{
    background: transparent;
    width: 190px;
    padding: 0px;
    font-size: 12px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 15px;
    -webkit-appearance: none;
    font-weight:normal;
    cursor:pointer;
}


.sortBy .dropdownSelect{
    width:100%;
    position:relative;
}

.sortBy .dropdownSelect select{
    position:absolute;
    right:-22px;
    width:90%
}

/*******************
 * Layout
 *******************/
header{
	background:#333;
	width:100%;
	line-height:42px;
	color:#c1c1c1;
	font-size:13px;
	position:relative;
}

.mainCalendar{
	background:#fff;
	height:62px;
	width:100%;
	text-align:center;
	text-transform:uppercase;
	position:relative;
}

.statusBar{
	background:#333;
	width:100%;
	line-height: 52px;
	color:#c8cccc;
	text-transform:uppercase;
	font-size: 24px;
	padding:4px 0;
}

.bodyContent{
	margin:10px;
}

footer{
	
}
.margin-left-none {
	margin-left:0 !important;
}
.margin-right-ft {
	margin-right:15px;
}


/*******************
 * Header
 *******************/
.awalogo{
	background: url(../img/logo_awa.png) no-repeat;
	width:62px;
	height:20px;
}

header .awalogo{
	margin:0px 20px;
	position:relative;
	top:5px;
}

header div{
	display:inline-block;
	*display:inline;
	zoom:1;
}

header .name{
	font-size:14px;
	font-weight: bold;
}

header .page{
	background-repeat:no-repeat;
	background-position:left 8px;
	padding:0 0 0 23px;
	margin: 0px 15px;
	text-transform:uppercase;
}

header .page.absenceStat{
	background-image: url(../img/icon_absenseStat.png) ;
}

.navigation{
	display:inline-block;
	*display:inline;
	zoom:1;
	margin:0 5px 0 0;
	color:#6c6c6c;
}

.navigation li{
	display:inline-block;
	*display:inline;
	zoom:1;
	border-left:2px solid #474747;
	text-transform:uppercase;
	padding:0 10px 0 10px;
	font-size:12px;
	/*cursor: pointer;*/
}

.navigation .icon{
	background:url(../img/icon_nav.png) no-repeat;
	display:inline-block;
	*display:inline;
	zoom:1;
	width:20px;
	height:20px;
	vertical-align:middle;
	position:relative;
	top:-2px;
	margin:0 10px 0 0;
}
.navigation .absence .icon{
	background-position: 0 0;
}
.navigation .profile .icon{
	background-position: -23px 0;
}
.navigation .notification .icon{
	background-position: -46px 0;
	width:25px;
}
.navigation .login .icon{
	background-position: -72px 0;
}

/*******************
 * Calendar
 *******************/

.mainCalendar .day{
	width:4%;
	height:100%;
	display:inline-block;
	*display:inline;
	zoom:1;
	padding:0px 1px;
	position:relative;
}

.mainCalendar .name{
	margin:10px 0 0 0;
	font-size:12px;
}

.mainCalendar .bar{
	width:100%;
	height:40px;
	position:absolute;
	bottom:0;
}

.mainCalendar .fill{
	background:#a5a5a5;
	width:100%;
	height:60%;
	position:absolute;
	bottom:0;
}

.mainCalendar .day.current{
	color:#FF9237;
}

.mainCalendar .day.current .fill{
	background:#FF9237;
}

.mainCalendar .pointer{
	background:url(../img/pointer_up.png);
	width:21px;
	height:12px;
	position:absolute;
	left:47.25%;
	bottom: 0;
}
/*******************
 * Status Bar
 *******************/
.statusBar div{
	display:inline-block;
	*display:inline;
	zoom:1;
}

.statusBar .dropdown{
	line-height:40px;
	padding:0 15px;
	border-right:1px solid #595959;
}

.statusBar .wideSpan{
	text-align:center;
	vertical-align:middle;
}

.statusBar .divider{
	border-left:1px solid #5b5b5b;
}

.statusBar .wideSpan.first{
	border-right:1px solid #f7f7f7;
	text-align:left;
}

.statusBar .wideSpan.last{
	border-left:1px solid #f7f7f7;
	border-right:1px solid #595959;
}

.statusBar .dropdown .icon{
	background:url(../img/icon_statusBar.png) -4px -15px;
	width:15px;
	height:10px;
}

.statusBar .filtername{
	
}

.statusBar .filtername.absent .icon{
	background:url(../img/icon_statusBar.png) -33px -6px;
	height: 23px;
    width: 19px;
    margin:0 15px;
}

.statusBar .date{
	color:#ff9237;
}

.statusBar .date .day{
	font-weight:bold;
} 

.statusBar .title{
	line-height:14px;
	font-size:11px;
	text-align:right;
	position: relative;
	top:2px;
	margin:0 10px 0 0;
}

.statusBar .result{
	color:#ff9237;
	font-weight:bold;
}

.statusBar .result.absenceRate{
	
}
.statusBar .result .up {
	position: relative;
	bottom: 3px;
	right: 4px;
}
.statusBar .share{

}
.statusBar .smTxt {
	font-size:16px;
}

.statusBar .share .icon{
	background:url(../img/icon_statusBar.png) -66px -4px;
	width:28px;
	height:28px;
	position: relative;
	top:3px;
}

.statusBar .settings{

}

.statusBar .settings .icon{
	background:url(../img/icon_statusBar.png) -106px -4px;
	width:28px;
	height:28px;
	position: relative;
	top:3px;
}


/*******************
 * Body Content
 *******************/

.draggableContainer{
	background:#fff;
}

.widget{
	width:30%;
	margin:20px;
	-moz-box-shadow:    3px 6px 6px 0 #e3e3e3;
  	-webkit-box-shadow: 3px 6px 6px 0 #e3e3e3;
  	box-shadow:         3px 6px 6px 0 #e3e3e3;
  	background:#fff;
  	overflow:hidden;
}

.widget .dropdown{
	
}

.widget .block{
	border-top:1px solid #f5f5f5;
	border-bottom:1px solid #ebebeb;
}
.widget .cards {
	height:400px;
}
.widget .inline{
	
}

.widget .head{
	border-bottom:1px solid #ebebeb;
}

.widget .head .title{
	font-size:12px;
	font-weight:bold;
	line-height:40px;
	padding:0 12px 0;
	
}

.widget .head .dropdown{
	position: relative;
	margin-left: 100px;
	top: 12px;
	border-right: 1px solid #ebebeb;
	padding-right: 20px;
}

.widget .head .pin{
	position:relative;
	top:8px;
	right:10px;
	float:right;
}

.widget .graph{
	margin:0 55px;
	text-align: center;
}

.widget .scrollable{
	overflow: scroll;
}

.widget.selected{
	cursor:move;
	-moz-box-shadow:    10px 6px 6px 0 #e3e3e3;
  	-webkit-box-shadow: 10px 6px 6px 0 #e3e3e3;
  	box-shadow:         10px 6px 6px 0 #e3e3e3;
}

.widget.selected .head{
	background:#ff9237;
	
}
.sortBy {
	padding: 5px;
	border-bottom:1px solid #ebebeb;
	margin-left:0;
}
.sortBy span {
	font-size:11px;
}
.sort .abType span {
	padding:5px;
}
.dropdown {
	margin:0;
	border-left:1px solid #ebebeb;
	width: 19px;
}
.dropdown a {
	background-image: url(../img/arrowDown.png);
	padding: 0px 7px;
	-webkit-appearance: none;
	background-repeat: repeat-x;
	position: relative;
	top: 7px;
	left: 5px;
}
.filtering {
	height:174px;
}
.filtering li{
	padding:10px;
	border-bottom:1px solid #ebebeb;
	font-size:14px;
}
.filtering li:last-child {
	border:none;
}
.filtering ul li img {
	position: relative;
	bottom: 3px;
	float: right;
}
.nameCard .highab li:last-child, .nameCard .medab li:last-child, .nameCard .lowab li:last-child, .nameCard .noab ul {
	border-bottom:1px solid #ebebeb;	
}
.nameCard .abBorder {
	border-bottom:2px solid #fff;
}
.nameCard ul {
	padding:5px;
}
.nameCard ul li {
	padding:5px 0;
	font-size:14px;
}
.nameCard ul li.smTxt {
	font-size:11px;
}
.nameCard ul li:nth-child(2) {
	border-bottom:1px dashed #ccc;
	width:91%;
}
.nameCard ul li.nobw {
	width:auto;
	border-bottom:none !important;
}
.nameCard ul li ul {
	border:none;
}
.nameCard ul li ul li {
	padding:0;
}
.noab .icons .nobw {
	border:none;
	width:auto;
}
.noab .icons .nudge {
	padding-top:10px;
}
.nameCard ul.highab {
	border-left:5px solid #f00;
}
.nameCard ul.medab {
	border-left:5px solid orange;
}
.nameCard ul.lowab {
	border-left:5px solid #0f0;
}
.nameCard ul.noab {
	border-left:5px solid #ccc;
}
.nameCard ul li ul li.nudge {
	padding-top:5px;
}

/* ICONS */
.icon {
	background-image: url(../img/sprite.png);
	display: inline-block;
}

.arrowUp {
	background-position: -14px -110px;
	width: 33px;
	height: 29px;
}
.arrowDown {
	background-position: -24px -53px;
	height: 10px;
	width: 33px;
}
.uppl .arrowDown {
	background-position: -24px -45px;
}
.arrowRight {
	background-position: -15px -79px;
	height: 29px;
	width: 30px;
}
.nameCard .arrowRight {
	background-position: -13px -70px;
	float: right;
	position: relative;
	left: 15px;
}
.calculator {
	background-position: -23px -139px;
	height:30px;
	width:30px;
}
.folder {
	background-position: -23px -167px;
	height:30px;
	width:30px;
}
.forklift {
	background-position: -23px -201px;
	height:30px;
	width:30px;
}
.helpIcon {
	background-position: -23px -234px;
	height: 13px;
	width: 33px;
}
.phone {
	background-position: -25px -254px;
	height:30px;
	width:30px;
}
.razor {
	background-position: -24px -539px;
	height:30px;
	width:30px;
}
.tack {
	background-position: -22px -580px;
	height: 30px;
	width: 30px;
}
.weight {
	background-position: -24px -618px;
	width:30px;
	height:30px;
}

/* MODAL */

#basic-modal-content {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#000;}

/* Container */
#simplemodal-container {height:560px; width:100%; padding:12px;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;background-color: #000;
padding: 5px 10px;
text-decoration: none;
}
#simplemodal-container a.modalCloseImg {display:none;}
#simplemodal-container h3 {color:#84b8d9;}

#simplemodal-container .modalArrow {
	position: relative;
	top: 379px;
	right: 535px;
}
#simplemodal-container .detailsArrow {
	position: relative;
	bottom: 213px;
	left: 1010px;
}
#simplemodal-container .closeModal {
	position:relative;
	top: 510px;
	right: 285px;
}
.widget .graph ul.row {
	border-bottom:2px dashed #ebebeb;
	padding:12px;
}
.widget .graph ul.nobw {
	border-bottom:none !important;
}
.widget .graph ul .medTxt {
	font-size:25px;
}
.widget .graph ul .lgTxt {
	font-size:45px;
}